<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ssas_demo_v03">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StudentEditActivity"></activity>
        <activity android:name=".ClassEditActivity" />
        <activity android:name=".ClassViewActivity" />
        <activity android:name=".CourseEditActivity" />
        <activity android:name=".CourseViewClassActivity" />
        <activity android:name=".UserResetPasswordActivity" />
        <activity android:name=".UserViewCourseActivity" />
        <activity android:name=".UserEditActivity" />
        <activity android:name=".StatisticsPageActivity" />
        <activity android:name=".StudentPageActivity" />
        <activity android:name=".CoursePageActivity" />
        <activity android:name=".MainpageActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>