<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ssas_demo_v03">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StudentEditActivity" android:label="Add Student"/>
        <activity android:name=".ClassEditActivity" android:label="Add Class"/>
        <activity android:name=".ClassViewActivity" android:label="Attendance Info"/>
        <activity android:name=".CourseEditActivity" android:label="Edit Course"/>
        <activity android:name=".CourseViewClassActivity" android:label="All Classes"/>
        <activity android:name=".UserResetPasswordActivity" android:label="Reset Password"/>
        <activity android:name=".UserViewCourseActivity" android:label="Your Courses"/>
        <activity android:name=".UserEditActivity" android:label="Edit Your Info"/>
        <activity android:name=".StatisticsPageActivity" android:label="Statistic Info"/>
        <activity android:name=".StudentPageActivity" android:label="Student"/>
        <activity android:name=".CoursePageActivity" android:label="All Courses"/>
        <activity android:name=".MainpageActivity" android:label="User Center"/>
        <activity android:name=".RegisterActivity" android:label="Register"/>
        <activity android:name=".MainActivity" android:label="SSAS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>